/*la police par defaut*/
@font-face {
    font-family: 'ambleregular';
    src: url('Amble-Regular-webfont.eot');
    src: url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Regular-webfont.woff2') format('woff2'),
         url('Amble-Regular-webfont.woff') format('woff'),
         url('Amble-Regular-webfont.ttf') format('truetype'),
         url('Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family:verdane ,sans-serif,Arial;
	color: #000;
}
#bloc-page{
	margin: auto;
	width: 80%;
}
nav h1,footer h1{
	font-family: verdana ,Arial ,sans-serif;
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
	padding-top: 50px;
}
/*header*/
header{
	background-color: white;
	display: flex;
	justify-content: center;
}
header ul{
	list-style-type: none;
	display: flex;
}
header li{
	margin-right: 15px;
}
header a{
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
}
header a:hover{
	border-bottom: 2px solid #000;
	color: blue;
}
/*nav*/
nav{
	background-color: white;
}
#sec1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
}
#sec1 #photo{
	border: 2px solid rgb(155, 207, 197);
	border-radius: 50%;
	padding: 50px;

}
#sec1 article{
	background: url(images/fond-ecran.jpg) no-repeat;
	color: white;
}
#sec1 .centre{
	text-align: center;
}
.class1{
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
}
#sec1 #logo-bakeli{
	border-radius: 20px;
	margin-bottom: 20px;
}
#sec1 article h1{
	background-color: rgb(96,85,85);
	margin: auto;
	width: 400px;
	height: 50px;
	padding-top: 25px;

}
.class2 img{
	width: 100px;
	height: 100px;

}
.class2{
	display: flex;
	justify-content: center;
}
.class2 div{
	text-align: center;
	margin-right: 50px;
}
#sec2 {
	background-color: rgb(235, 235, 235);
}
#sec2 aside{
	display: flex;
	justify-content: center;
} 
#sec2 ul{
	display: flex;
	list-style-type: none;
}
#sec2 li{
	margin-right: 15px;
}
#sec2 .cone2{
	display: flex;
	flex-direction: column;
	
}
#sec2 .cone21{
	display: flex;
	
}
#sec2 #wordpress 
	{background-color: rgb(131,203, 207);
	width: 25%;
	height: 200px;
}
#sec2 img{
	width: 100%;
	height: 100%;
} 

#sec2 #htmletcss {
	background-color: rgb(103, 180, 204);
	width: 25%;
	height: 200px;
}
#sec2 #Canva 
	{background-color: rgb(113, 121, 103);
	width: 25%;
	height: 200px;
}
#sec2 #JS 
	{background-color: rgb(100, 154, 151);
	width: 25%;
	height: 200px;
}
#sec2 .cone22{
	display: flex;
}
#sec2 #Java 
	{background-color: rgb(130, 114, 99);
	width: 25%;
	height: 200px;
}
#sec2 #Inkscape {
	background-color: rgb(53, 160, 174);
	width: 25%;
	height: 200px;
}
#sec2 #Ae 
	{background-color: rgb(35, 119, 146);
	width: 25%;
	height: 200px;

}
#sec2 #python 
	{background-color: rgb(165, 192, 173);
	width: 25%;
	height: 200px;
}
#sec3{
	margin: auto;
	width: 70%;
}
#sec3 aside{
	text-align: center;
}
#sec3 article h1{
	text-align: left;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#sec3 .p1{
	text-transform: lowercase;
	font-weight: normal;
}
#sec3 .p2{
	color:#a5c0ad;
}
#sec3 #barre{
	display: flex;
	justify-content: space-between;
}
#sec3 .A1 {
	background-color: rgb(214,214,214);
	width:300px;
	border-radius: 5px;
	position: relative;
	
}

#sec3 .barre-p{
	background-color: #a5c0ad;
	border-radius: 5px;
	animation-name: couleur;
	animation-duration: 1,5s;
	animation-timing-function: cubic-bezier(0.33, 1.0, 0.68, 1.0);
	animation-fill-mode: forwards;
	color: white;
	
}
@keyframes couleur{
	0%{width: 0%;}
	100%{width: 100%;}
}
#sec3 .barre-b{
	background-color: #a5c0ad;
	border-radius: 5px;
	animation-name: couleur1;
	animation-duration: 1,5s;
	animation-timing-function: cubic-bezier(0.33, 1.0, 0.68, 1.0);
	animation-fill-mode: forwards;
	color: white;
	
}
@keyframes couleur1{
	0%{width: 0%;}
	100%{width: 80%;}
}
#sec3 .barre-o{
	background-color: #a5c0ad;
	border-radius: 5px;
	animation-name: couleur2;
	animation-duration: 1,5s;
	animation-timing-function: cubic-bezier(0.33, 1.0, 0.68, 1.0);
	animation-fill-mode: forwards;
	color: white;
	
}
@keyframes couleur2{
	0%{width: 0%;}
	100%{width: 90%;}
}
#sec3 .barre-r{
	background-color: #a5c0ad;
	border-radius: 5px;
	animation-name: couleur3;
	animation-duration: 1,5s;
	animation-timing-function: cubic-bezier(0.33, 1.0, 0.68, 1.0);
	animation-fill-mode: forwards;
	color: white;
	
}
@keyframes couleur3{
	0%{width: 0%;}
	100%{width: 70%;}
}


#sec4{
	background-color: rgb(165,192, 173);
	text-align: center;
}
#sec4 .cone1{
	color: white;
}
#sec4 .cone3{
	display: flex;
	justify-content: space-around;
}
#sec4 .pied{
	width: 100%;
	height: 40px;
	background-color: white;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 0px;
}
#sec4 img{
	margin-top: 40px;
}
#sec4 span{
	font-weight: bold;
}
#sec5{
	text-align: center;
}
#sec5 img{
	margin-top: 40px;
	width: 80px;
	height: 50px;
	margin-bottom: 40px;
}
#sec5 .cone1{
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 40px;
}
/* footer */
footer{
	
	text-alig
}
footer #foot{
	background-color: rgb(235, 235, 235);
	text-align: center;
}
footer .foot{
	display:flex;
	justify-content: center;
}
footer .cone1{
	margin-right: 40px;
	text-align: left;
}
footer #foot1{
	margin-bottom: 10px;
}
footer .cone2{
	padding-bottom: 40px;
}
@media screen and (max-with:1024){


}
